<ion-header>
    <ion-navbar>
        <ion-title>
            Vouchers
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-img *ngFor="let voucher of vouchers" src={{voucher.image}} height=200 width=200 (click)='openVoucher(voucher.id);'></ion-img>
        <!--<ion-img width="200" height="200" src='assets/imgs/test.jpg' ng-click="nextpage()"></ion-img> -->

    </ion-list>
    <!-- <button myitem (click)='presentPopover();'>CLICK</button> -->
</ion-content>
